body,html {
    padding-top: 50px;
}

footer{
    background-color: #2c3e50!important;
    color: white!important;
}

footer a{
    color: white!important;
}

.text-muted{
    color: #bdc3c7!important;
}

.btn{
    border-radius: 0 !important;
}
html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#wrapper {
    padding-top: 51px;
    min-height:100%;
    position:relative;
}

#content {
    padding-bottom: 200px;
}

#footer {
    background:#ffab62;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}

input,select{
    border-radius: 0;
}

.container-fluid{
    padding: 0;
    border-radius: 0;
}

.jumbotron,.panel,.panel-heading {
    border-radius: 0!important;
}

#header-small{
    background-attachment: fixed;
    background-image: url(../img/intro-bg.png);
    color: white!important;
    position: relative;
    z-index: 0;
}

#header-small::before{
    width: 100%;
    height:100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    content: "";
    top: 0;
    left: 0;
    z-index: -1;

}

.panel-primary{
    border-color: #777777!important;
}

.panel-primary .panel-heading{
    background: #777777;
    border-color: #777777;
}

.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
     margin: 0;
     padding: 0;
     border: none;
     box-shadow: none;
     text-align: center;
 }

.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

a.thumbnail:hover{
    text-decoration: none;
}

a.thumbnail{
    text-align: justify;
    text-align-last: center;
}

.flex{
    display: flex;
}


.fixed-image {
    text-align: center;
    overflow: hidden;
}

.fixed-image img{
    width: 200px;
    height: 200px;
}